body {
	background-color: #FFF;
  	background: url(bamboobackground.jpg);
  	background-attachment: fixed;
  	height: 100%;
  	width: 100%;
}

/** main stuff */


.main {
	padding-top:5em;
	margin:auto;
	text-align: auto;
	width: 100% ;
}

h1 {
	float: center;
	color: white;
	font-family: Helvetica;
	font-size: 300%;

}

h2 {
	color: white;
	font-family: Helvetica;
	font-size: 180%;
}

/** navbar */

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  margin-top:-10px;
  margin-left:-10px;
  margin-right:-10px;
  position:fixed;
  z-index: 9999999999;
}

.topnav img {
	
	width:60px;
	height:30px;
	float: left;
	
	margin-left:100px;
	margin-top: 10px;

	

}
a.login {
  float: right;
  display: block;
  color: #404040;
  text-align: center;
  padding:14px 16px;
  

  text-decoration: none;
  font-size: 17px;
}



.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}




