/** fonts --- currently not working - make work? */

@font-face {
    font-family: ubuntu;
    src: url(ubuntu-b.ttf);
    font-weight: bold;
}

@font-face {
    font-family: sourcesans;
    src: url(sourcesanspro-light.ttf);
    
}

@font-face {
    font-family: sourcesans;
    src: url(sourcesanspro-semibold.ttf);
    font-weight: bold;
}

body {
	background-color: #FFF;
  	background: url(treebackground.jpg);

   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
    width: 100%;
    height: auto;
}


/** navbar */

.topnav {
  overflow: hidden;
  background-color: #f0ff78;
  width: 100%;
  height:60px;
  margin-top:-10px;
  margin-left:-10px;
  margin-right:-10px;
  margin-bottom:50px;
  position:fixed;
  z-index: 9999999999;
  display:block;
  position:fixed;
}

.topnav img {
	
	width:120px;
	height:60px;
	float: left;
	
	margin-left:16em;
	margin-top: 0px;

	

}
a.nav_items {
  float: right;
  display: block;
  color: #404040;
  text-align: center;
  padding:18px 16px;
  
  font-family: 'sourcesans', Helvetica;
  text-decoration: none;
  font-size: 17px;
}



.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


#links {
    margin-right: 16em;


}

/** main stuff */


.main {
  padding-top:80px;
  margin:auto;
  text-align: auto;
    width: 1000px ;
  background-color:#ffffff;

  margin-bottom: 30px;
  padding-bottom:50px;
  /*padding:100px 50px 50px 50px;*/
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
  }

#maintitle {
  width:100%;
  margin-left:50%;
  margin-right:50%;
  font-family: 'ubuntu', Helvetica;
  font-size: 400%;
  color: #383838;
  
  margin-bottom:30px;
 

}

#subtitle {

  color: #383838;
  font-family: 'ubuntu', Helvetica;
  font-size: 180%;
  padding-top:0.5em;

}

/*posts */

/*
#createpost {
  background-color: #e6e6e6;
  width: 900px;
  margin:auto;
  height:300px;

}


#toppost {



}

#typetext {


}
*/


/*images + hover effects*/




/*create post*/

#createpost {
  background-color: #e6e6e6;
    width: 940px;
    height: 300px;
    margin-top:20px;


}
#header {
  background-color:#585858;
  height:55px;
  width:100%;
  /*padding-top:15px;*/
}

#textfield {
  margin-left:30px;
  margin-right:30px;
  width:880px;
  height:180px;
  margin-top:-1;
  font-size:15px;
  font-family:'sourcesans', Helvetica;
  padding:10px 10px 10px 10px;

}

#headertext {
  font-family:'sourcesans', Helvetica;
  color: #ffffff;
  margin-left:0px;
  background-color: #585858;
  width:940px;
  height:55px;
  padding-left: 40px;

  font-weight: bold;
  font-size:15px;

}

#insertimg {
  height:60px;
  width:60px;
  margin-left:40px;
  margin-top: -3px;
  position:absolute;
}

#insertloca {
  height:60px;
  width:60px;
  margin-left:80px;
  margin-top:-5px;

}

#publish-button {
  
  height:30px;
  width:70px;
  font-family:'sourcesans', Helvetica;
  font-size:15px;
  float:right;
  margin-right: 40px;
  margin-top:10px;
  background-color: #f0ff78;
  border-radius:20px;
  color:#585858;

  font-weight:bold;
}



/*posts*/
.item {
  background-color: #e6e6e6;
    width: 900px;
    height: 300px;
    margin-top:20px;
    padding:20px;

}

.image {
  width:300px;
  height: 300px;
  /*-webkit-filter: blur(0);
  filter: blur(0);*/
  opacity:0.75;
  margin-left:590px;
  margin-top:-325px;

}

.descriparea {
 
  width: 450px;
  height:300px;
  margin-top:-290px; 
  margin-left:120px;
  overflow:hidden;
}

.description {
  text-decoration: none;
  font-family: 'sourcesans', Helvetica;
  font-size:14px;
  color: #585858;


}




/*.hovertext {
  color: #ffffff;
  position: absolute;
  margin-top: -160px;
  margin-right: -20px;
  margin-left:-35px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 99999;
  font-size: 18px;
  font-family: 'sourcesans', Helvetica;
  opacity:0;
  font-weight: bold;

}

.item:hover .hovertext{
  opacity:1;

}*/

/*.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ffffff;
  border-radius:60px;
  opacity:0;


}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  
  border-right:60px solid #ffffff;
  border-radius:60px;
  top:500px; 
  opacity:0;
}

.item:hover .arrow-right .arrow-left{
  opacity:1;
*/
}


.item:hover .image {
  
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}









/*profile pic left side*/

.profilepic {
  height:75px;
  width: 75px;
  margin-bottom:200px;
  margin-left:15px;
  margin-top:-50px;

  border-radius: 75px;

}



.pin {
  width:50px;
  height: 50px;
  /*margin-left:-120px;
  margin-bottom: -20px;*/
}

.city {
  
  margin-left:40px;
  margin-top:-33px;
  font-size: 15px;

}

.pinlocation {
  margin-left:-10px;
  margin-top: -50px;
}

h6 {

  font-family: 'sourcesans', Helvetica;
  font-weight: bold;
  
}



.title {
  margin-top:3px;
  margin-left:120px;
  font-size:19px;

}











